# Downstream service base URLs
TOURISM_SERVICE_URL=http://localhost:8001
TRANSPORT_BUS_SERVICE_URL=http://localhost:8004
TRANSPORT_TRAIN_SERVICE_URL=http://localhost:8005
HOTEL_SERVICE_URL=http://localhost:8002
ROUTE_SERVICE_URL=http://localhost:8003

# HTTP
HTTP_TIMEOUT=20.0

# CORS
FRONTEND_ORIGIN=http://localhost:3000
